# Virtual Environment
.venv/
venv/
ENV/

# Environment Variables & Secrets
.env
*.env
infra/.env

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/

# Local Data Cache
data/
!data/.gitkeep

# dbt Artifacts
pipeline/dbt/target/
pipeline/dbt/dbt_packages/
pipeline/dbt/logs/

# IDE settings
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db